*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.building{
    background: url("../images/newbuilding.jpg") repeat 0 0; 
    height: 550px;
    width: 100%;
    animation: buildings 10s linear infinite;
    background-repeat: repeat-x;    
    
}
.reset{
    cursor: pointer;
    position: relative;
    left: 55%;
    display: inline;
    top: 17%;
}
.navbar{
    width: 80%;
    height: 70px;
    background-color: #FFFFFD;
    position: absolute;
    opacity: 0.6;
    border-radius: 50px;    
    margin-top: 1%;
    margin-left: 11%;
}
.navbar-info{
    width: 80%;
    height: 70px;
    background-color: #FFFFFD;
    position: absolute;
    opacity: 0.6;
    border-radius: 50px;    
    margin-top: 1%;
    margin-left: 11%;
}
.heart{
    color: red;
    position: relative;
    top: 20%;
    left: 73%;
}
.pause{
    position: relative;
    left: 50%;
    top:23%;
    cursor: pointer;
    display: inline-block;
}
.mute{
    position: relative;
    left: 60%;
    top: 23%;
    cursor: pointer;
    display: inline-block;
}
.road{
    background-image: url("../images/road.jpg");
    height: 155px;
    width: 100%;
    animation: road 10s linear infinite;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-repeat: repeat-x;
    
}
.bus {
    
    position: absolute;
    background-image: url(../images/bus.png);
    transform: scaleX(-1);
    height: 411px;
    width: 545px;
    left: 20%;
    background-size: cover;
    bottom: 5%;
    background-repeat: repeat-x;
    
}
/*@keyframes bus-move{
    0%{
        transform: translateX(0px)
    }100%{
        transform: translateX()
    }
}*/
@keyframes road
{
  from{
      background-position:  0 0;
  }to{
      background-position: -1245px 0;
  }
}
@keyframes buildings
{
  from{
      background-position:  0 0;
  }to{
      background-position: -1280px 0;
  }
}
.bus-stop{
    position: absolute;
    top: 42%;
    left: 60%;
    height: 300px;
    width: 300px; 
    animation: bus-stop 5s linear;   
    
}
@keyframes bus-stop{
   
   50%{
       transform: translateX(-500x)       
   }100%{
       transform: translateX(-500px)
   }
}
.runner{
    position: absolute;
    background:url("../images/sprite-boy.png");
    top:70%;
    width:55px;
    height:85px;
    animation:walk 1s steps(6) infinite,
                forward 10s linear ;
    display: inline;
    left: -100px;
}
.runner-out{
    position: absolute;
    background:url("../images/sprite-boy.png");
    top:70%;
    width:55px;
    height:85px;
    animation:walk 1s steps(6) infinite,
                forward-out 10s linear ;
    display: inline;
    left: 500px;
}
@keyframes walk{
0%{
    background-position: 0px;
}
100%{
    background-position:373px;
}


}


@keyframes forward{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(500px);
    }
}
@keyframes forward-out{
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(1200px);
    }
}

/* model */
.modalbox .box {
    background-color: rgba(0,0,0,0.7);
    margin: 0 auto;
    min-width: 210px;
    padding: 40px;
    width: 30%;
    margin-top: 100px;
    }
    .modalbox .title {
    border-bottom: 1px solid #ccc;
    font-family: verdana;
    font-size: 22px;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    color: #fff;
        }
    .modalbox .content {
    display: block;
    font-family: Verdana;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 0;
    color: #fff;
        }
    .modalbox .close {
    color: #fff;
    display: none;
    float: right;
    font-family: Verdana;
    font-size: 22px;
    height: 25px;
    text-decoration: none;
    }

    .btn-success{
        color: whitesmoke;
        font-size: 20px;
        margin-left: 25%;
        padding: 10px;
        border-radius: 10px;
        background-color: green;
        opacity: 1 !important;
        cursor: pointer;
    }


.modalbox{
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:#333333;
    opacity: 0.7;
    border-radius: 10%;

    }

.modalbox:target {
    display: block;
    outline: none;
}


.link-modal{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 400px;
    padding-left: 15px;
}


.link-modal a{
    border: 1px solid #fff;
    color: #fff;
    font-family: Verdana;
    font-size: 20px;
    letter-spacing: 0.3em;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Input box*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .level{
      font-size: 25px;
      font-family: cursive;
      text-align: center;
      position: relative;   
      left: 40%;
      top: 8%;
      display: inline;
  }
.gameover{
    position: absolute;
    background: url("../images/gameover.png");
    width: 300px;
    height:200px;
    background-size:cover;
    top: 10%;
    left:37%;
    display: none;
}
.scorecard{
    position: absolute;
    width: 200px;
    height:100px;
    top: 33%;
    left:45%;
    display: none;
    font-size: 20px;
}
.win{
    position: absolute;
    background: url("../images/win.png");
    width: 250px;
    height : 170px;
    background-size:cover;
    top: 10%;
    left:40%;
    display: none;
}
#score{
    font-size: 25px;
      font-family: cursive;
      position: absolute;   
      left: 10%;
      top: 15%;
      display: inline;
}